<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
 
<!---------------------------------Wishlist main container--------------------------->

<div class="user-main-container flex-space-evenly-start">
<main class="product-container border-radius-normal box-shadow col-7">

<p class="wishlist-text padding-normal">My Cart(3)
  <hr>
</p>

<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

<section class="cart-product flex-column-center">
  <section class="flex-row-start">
    <img class="imgcard cart-img" src="../images/pc-svg-1.svg"  alt="">
    <button
    class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
      class="material-icons ">favorite </i>
    </button>
  </section>
  
  <section class="flex-row-center">
    <div class="AvatarDomMainContainer">
      <button class="form-signup-icons">
      <i class="material-icons cart-material-icons AvatarImage box-shadow AvatarIcons flex-row-center">remove</i>
      </button>

      
    </div>
    <span class="cart-input-container">
      <input type="number" class="cart-items-input input-range-container" value="1">
    </span>
    <div class="AvatarDomMainContainer">
      <button class="form-signup-icons">
      <i class="material-icons cart-material-icons AvatarImage box-shadow AvatarIcons flex-row-center">add</i>
      </div>
    </div>
  </section>
  </section>
    <span class="card-text-container cart-brand-text">
      <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
      </span>
  
      <span class="card-container-price-icons card-footer">
        <span class="card-price">
          <span>$200</span>
          <del>$300</del>
        </span>
        <span class="optionContainer">
        
         <button class="button-normal material-icons-text buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center padding-normal">Save for Later</button>
          
        </span>
        
      </span>
      
    </span>
  
    <span>
      
    </span>
    <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
  </div> 
  <hr>
  
  <!-------------------------Card Container end-------------------------->

<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

    <section class="cart-product flex-column-center">
      <section class="flex-row-start">
        <img class="imgcard cart-img" src="../images/pc-svg-1.svg" alt="">
        <button
          class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
            class="material-icons ">favorite </i>
        </button>
      </section>

      <section class="flex-row-center">
        <div class="AvatarDomMainContainer">
          <button class="form-signup-icons">
            <i class="material-icons cart-material-icons AvatarImage box-shadow AvatarIcons flex-row-center">remove</i>
          </button>


        </div>
        <span class="cart-input-container">
          <input type="number" class="cart-items-input input-range-container" value="1">
        </span>
        <div class="AvatarDomMainContainer">
          <button class="form-signup-icons">
            <i class="material-icons cart-material-icons AvatarImage box-shadow AvatarIcons flex-row-center">add</i>
        </div>
  </div>
  </section>
  </section>
  <span class="card-text-container cart-brand-text">
    <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
    </span>

    <span class="card-container-price-icons card-footer">
      <span class="card-price">
        <span>$200</span>
        <del>$300</del>
      </span>
      <span class="optionContainer">

        <button class="button-normal material-icons-text buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center padding-normal">Save for Later</button>

      </span>

    </span>

  </span>

  <span>

  </span>
  <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
</div>
<hr>

<!-------------------------Card Container end-------------------------->


<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

    <section class="cart-product flex-column-center">
      <section class="flex-row-start">
        <img class="imgcard cart-img" src="../images/pc-svg-1.svg" alt="">
        <button
          class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
            class="material-icons ">favorite </i>
        </button>
      </section>

      <section class="flex-row-center">
        <div class="AvatarDomMainContainer">
          <button class="form-signup-icons">
            <i class="material-icons cart-material-icons AvatarImage box-shadow AvatarIcons flex-row-center">remove</i>
          </button>


        </div>
        <span class="cart-input-container">
          <input type="number" class="cart-items-input input-range-container" value="1">
        </span>
        <div class="AvatarDomMainContainer">
          <button class="form-signup-icons">
            <i class="material-icons cart-material-icons AvatarImage box-shadow AvatarIcons flex-row-center">add</i>
        </div>
  </div>
  </section>
  </section>
  <span class="card-text-container cart-brand-text">
    <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
    </span>

    <span class="card-container-price-icons card-footer">
      <span class="card-price">
        <span>$200</span>
        <del>$300</del>
      </span>
      <span class="optionContainer">

        <button class="button-normal material-icons-text buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center padding-normal">Save for Later</button>

      </span>

    </span>

  </span>

  <span>

  </span>
  <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
</div>

<!-------------------------Card Container end-------------------------->




</main>

<nav class=" margin-normal-left border-radius-normal box-shadow col-4">
  <p class="wishlist-text padding-normal"> Price Details
  <hr>
  </p>

  <section class="flex-column-start">
  <section class="flex-space-between cart-checkout">
    <h4>Price (3 items)</h4>
    <span>$600</span>
  </section>

  <section class="flex-space-between cart-checkout">
    <h4>Discount</h4>
    <span>-$20</span>
  </section>

  <section class="flex-space-between cart-checkout">
    <h4>Coupons for you</h4>
    <span>-$15</span>
  </section>

  <section class="flex-space-between cart-checkout">
    <h4>Delivery Charges</h4>
    <span>$5</span>
  </section>
</section>
<hr>

<section class="flex-space-between cart-checkout">
  <h3>Total Amount</h3>
  <span>$560</span>
</section>
<hr>

<h4 class="flex-space-between cart-checkout">You will save $40 on this order</h4>
<hr>

<section class="flex-row-center padding-normal">
<button class="buy-btn  ButtonDomContainer button-Shadow">
  Place Order
  </button>
</section>
</nav>

</div>

<!-------------------------Footer Section------------------------->


  <script src="../scripts/index.js"></script>
</body>
</html>