<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="../styles/root.css"
		/>
	</head>
	<body>
		<div
			class="inputDomMainContainer flex-column-center"
		>
			<form
				class="formContainerMain inputDomContainer AlertInfo input-flex inputError box-shadow"
				action="submit"
				autocomplete="on"
			>
				<div
					class="formContainer input-flex flex"
				>
					<h3 class="h3Tag">
						Forgot your password ?
					</h3>
					<p class="discriptionText">
						Please enter the email you use to
						sign in to Vision Cart
					</p>
				</div>

				<div class="formContainer">
					<div
						class="formEmail inputDomContainer formInput AlertWarning inputError flex-evenly box-shadow"
					>
						<i class="material-icons"
							>email</i
						>
						<input
							class="login-check formInput AlertWarning search-container"
							type="email"
							name=""
							id=""
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$"
							title="should contain A-Z and /number @ and . "
							placeholder="Email"
							autocomplete="off"
						/>
						<span class="validity"></span>
					</div>
				</div>

				<div
					class="formButtonContainer flex-evenly"
				>
					<div class="AlertDomMainContainer">
						<input
							type="submit"
							class="create-btn forgot-btn primary-button flex-evenly buttonHoverShadow"
							value="Request Password Reset"
						/>
					</div>
				</div>

				<span class="padding-top-small">
					<a
						href="./Login.html"
						target="iframe-main-container"
						>Back to Sign In</a
					>
				</span>
			</form>
		</div>

		<script src="../scripts/index.js"></script>
	</body>
</html>
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>

  <div class="inputDomMainContainer flex-column-center">
      
    <form class="formContainerMain inputDomContainer AlertInfo input-flex inputError box-shadow" action="submit" autocomplete="on">
      
      <div class="formContainer input-flex flex">
        <h3 class="h3Tag">Forgot your password ?</h3>
        <p class="discriptionText">Please enter the email you use to sign in to Vision Cart</p>
        </div>
      
        <div class="formContainer">
                    
        <div class="formEmail inputDomContainer formInput AlertWarning inputError  flex-evenly box-shadow">
          <i class="material-icons ">email</i>
          <input class="login-check formInput AlertWarning search-container" type="email" name="" id="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$" title="should contain A-Z and /number @ and . " placeholder="Email" autocomplete="off">
          <span class="validity"></span>
        </div>
        </div>

        <div class="formButtonContainer flex-evenly">
          <div class="AlertDomMainContainer">
            <input type="submit" class="create-btn forgot-btn primary-button flex-evenly buttonHoverShadow" value="Request Password Reset" />
        </div>
      </div>

      <span class="padding-top-small">
        <a href="./Login.html" target="iframe-login">Back to Sign In</a>
      </span>
    </form>
</div>

  
  <script src="../scripts/index.js"></script>
</body>
</html>
