<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="../styles/root.css"
		/>
	</head>
	<body>
		<div
			class="inputDomMainContainer flex-evenly"
		>
			<form
				class="formContainerMain inputDomContainer AlertInfo input-flex inputError box-shadow"
				action="submit"
				autocomplete="on"
			>
				<div
					class="formContainer input-flex"
				>
					<h3 class="h3Tag">Sign Up</h3>
					<p class="discriptionText">
						Please fill the form to create an
						account
					</p>
				</div>

				<div class="formContainer">
					<div
						class="formName inputDomContainer formInput AlertError inputError flex-evenly box-shadow"
					>
						<i class="material-icons"
							>person</i
						>
						<input
							class="login-check formInput AlertError search-container"
							type="text"
							name=""
							id=""
							pattern="[A-Za-z].{5,}"
							placeholder="User Name"
							required
						/>
						<span class="validity"></span>
					</div>

					<div
						class="formEmail inputDomContainer formInput AlertWarning inputError flex-evenly box-shadow"
					>
						<i class="material-icons"
							>email</i
						>
						<input
							class="login-check formInput AlertWarning search-container"
							type="email"
							name=""
							id=""
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$"
							title="should contain A-Z and /number @ and . "
							placeholder="Email"
							autocomplete="off"
						/>
						<span class="validity"></span>
					</div>

					<div
						class="formPassword inputDomContainer formInput AlertInfo inputError flex-evenly box-shadow"
					>
						<i class="material-icons"
							>lock</i
						>
						<input
							class="login-check formInput AlertInfo search-container"
							type="password"
							name=""
							id=""
							pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
							placeholder="Password"
						/>
						<span class="validity"></span>
					</div>

					<div
						class="formPassword inputDomContainer formInput AlertSuccess inputError flex-evenly box-shadow"
					>
						<i class="material-icons"
							>lock</i
						>
						<input
							class="login-check formInput AlertSuccess search-container"
							type="password"
							name=""
							id=""
							pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
							placeholder="Confirm Password"
						/>
						<span class="validity"></span>
					</div>

					<span class="padding-normal"
						><input
							type="checkbox"
							name=""
							id=""
						/>
						I accept the
						<code>TermsOfUse</code></span
					>
				</div>

				<div
					class="formButtonContainer flex-evenly"
				>
					<div class="AlertDomMainContainer">
						<input
							type="submit"
							class="ButtonDomContainer descriptionOne primary-button flex-evenly buttonHoverShadow"
							value="Create Account"
						/>
					</div>

					<div class="AlertDomMainContainer">
						<a
							href="./Login.html"
							target="iframe-main-container"
							><input
								type="button"
								class="ButtonDomContainer descriptionOne primary-button flex-evenly buttonHoverShadow"
								value="Login"
						/></a>
					</div>
				</div>

				<section class="flex-column-center">
					<div>Or SignUp Using</div>

					<section
						class="flex-row-center padding-normal"
					>
						<button
							class="form-signup-icons"
						>
							<img
								class="social-img"
								src="../images/google.svg"
								alt=""
							/>
						</button>
						<button
							class="form-signup-icons"
						>
							<img
								class="social-img"
								src="../images/-github.svg"
								alt=""
							/>
						</button>
					</section>
				</section>
			</form>
		</div>

		<script src="../scripts/index.js"></script>
	</body>
</html>
=======
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
  
    <div class="inputDomMainContainer flex-evenly ">
      
      <form class="formContainerMain inputDomContainer AlertInfo input-flex inputError box-shadow" action="submit" autocomplete="on">
        
        <div class="formContainer input-flex">
          <h3 class="h3Tag">Sign Up</h3>
               <p class="discriptionText">Please fill the form to create an account</p>
          </div>
        
          <div class="formContainer">
            <div class="formName inputDomContainer formInput AlertError inputError  flex-evenly box-shadow">
              <i class="material-icons ">person</i>
              <input class="login-check formInput AlertError search-container" type="text" name="" id="" pattern="[A-Za-z].{5,}" placeholder="User Name" required>
              <span class="validity"></span>
            </div>
            
            <div class="formEmail inputDomContainer formInput AlertWarning inputError flex-evenly box-shadow">
              <i class="material-icons ">email</i>
              <input class="login-check formInput AlertWarning search-container" type="email" name="" id="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,}$" title="should contain A-Z and /number @ and . " placeholder="Email" autocomplete="off">
              <span class="validity"></span>
            </div>
            
            <div class="formPassword inputDomContainer formInput AlertInfo inputError  flex-evenly box-shadow">
              <i class="material-icons ">lock</i>
              <input class="login-check formInput AlertInfo search-container" type="password" name="" id="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password">
              <span class="validity"></span>
            </div>
            
            <div class="formPassword inputDomContainer formInput AlertSuccess inputError  flex-evenly box-shadow">
              <i class="material-icons ">lock</i>
              <input class="login-check formInput AlertSuccess search-container" type="password" name="" id="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Confirm Password">
              <span class="validity"></span>
            </div>

            <span class="padding-normal"><input type="checkbox" name="" id=""> I accept the <code>TermsOfUse</code></span>
            
          </div>

          <div class="formButtonContainer flex-evenly">
            <div class="AlertDomMainContainer">
              <input type="submit" class="ButtonDomContainer descriptionOne primary-button flex-evenly buttonHoverShadow" value="Create Account" />
            </div>
            
          <div class="AlertDomMainContainer">
            <a href="./Login.html"><input type="button" class="ButtonDomContainer descriptionOne primary-button flex-evenly buttonHoverShadow"
              value="Login" /></a>
          </div>
          </div>
         
          <section class="flex-column-center">
          
            <div>Or SignUp Using </div>
          
            <section class="flex-row-center padding-normal">
              <button class="form-signup-icons"><img class="social-img" src="../images/google.svg" alt=""></button>
              <button class="form-signup-icons"><img class="social-img" src="../images/-github.svg" alt=""></button>
            </section>
          
          </section>
        
      </form>
  </div>

  <script src="../scripts/index.js"></script>
</body>
</html>
