<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
  
  <!---------------------------------------User NavBar--------------------------------------->
  <nav class="user-nav-container box-shadow">
    <form>
      <section class="filter-section flex-row-spc-btw p-btn-hov">
        <div class="AlertDomMainContainer">
          <h4 class="flex-evenly  pad-normal-top  buttonAnimation ">
            <span>My Orders</span>
          </h4>
        </div>
      </section>
        <hr>
      <section class="padding-small-left1 flex-column-start">
        <h4 class="">ACCOUNT SETTINGS</h4>
        <a class="pad-normal-top p-btn-hov" href="">Profile Information</a>
        <a class="pad-normal-top p-btn-hov" href="">Manage Addresses</a>
        <a class="pad-normal-top p-btn-hov" href="">PAN Card Information</a>
      </section>
        <hr>
      <section class="padding-small-left1 flex-column-start">
        <h4 class="">PAYMENTS</h4>
        <a class="pad-normal-top p-btn-hov" href="">Gift Cards</a>
        <a class="pad-normal-top p-btn-hov" href="">Saved UPI</a>
        <a class="pad-normal-top p-btn-hov" href="">Saved Cards</a>
      </section>
      <hr>
      <section class="padding-small-left1 flex-column-start">
        <h4 class="">My Stuff</h4>
        <a class="pad-normal-top p-btn-hov" href="">My Coupons</a>
        <a class="pad-normal-top p-btn-hov" href="">My Reviews & Ratings</a>
        <a class="pad-normal-top p-btn-hov" href="">All Notifications</a>
        <a class="pad-normal-top p-btn-hov" href="">My WishList</a>
      </section>
      <hr>
    <section class="filter-section flex-row-spc-btw p-btn-hov">
      <div class="AlertDomMainContainer">
        <h4 class="flex-evenly pad-normal-top buttonAnimation ">
          <span>Logout</span>
        </h4>
      </div>
    </section>  
    </form>
  </nav>
  

  <script src="../scripts/index.js"></script>
</body>
</html>