<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/root.css">
</head>
<body>
   
<!---------------------------------Wishlist main container--------------------------->

<div class="user-main-container flex-space-evenly-start">
  <section class="user-avatar col-3">
    <div class="user-container-avatar padding-normal box-shadow flex ">
      <span class="avatar-img-container">
        <img class="avatar-img" src="../images/steve.jpg" alt="" srcset="">
      </span>

      <span class="padding-small-left1">
        <p>Hello,</p>
        <p>Mayank Kumar</p>
      </span>
    </div>


    <iframe class="user-nav-main-container padding-normal box-shadow " src="./UserNav.html" name="iframe-user-nav"
      frameborder="0"></iframe>
  </section>
<main class="product-container margin-normal-left border-radius-normal box-shadow col-8">

<p class="wishlist-text padding-normal">My Wishlist (4)
  <hr>
</p>

<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

    <section class="cart-product flex-column-center">
      <section class="flex-row-start">
        <img class="imgcard" src="../images/pc-svg-1.svg" alt="">
        <button
          class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
            class="material-icons ">favorite </i>
        </button>
      </section>
  </div>
  </section>
  </section>
  <span class="card-text-container cart-brand-text">
    <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
    </span>

    <span class="card-container-price-icons card-footer">
      <span class="card-price">
        <span>$200</span>
        <del>$300</del>
      </span>
      <span class="optionContainer">

        <button class="card-wishlist-icons buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center primary-btn padding-normal">Add<i class="material-icons ">add_shopping_cart
          </i></button>

      </span>

    </span>

  </span>

  <span>

  </span>
  <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
</div>
<hr>

<!-------------------------Card Container end-------------------------->
<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

    <section class="cart-product flex-column-center">
      <section class="flex-row-start">
        <img class="imgcard" src="../images/pc-svg-1.svg" alt="">
        <button
          class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
            class="material-icons ">favorite </i>
        </button>
      </section>
  </div>
  </section>
  </section>
  <span class="card-text-container cart-brand-text">
    <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
    </span>

    <span class="card-container-price-icons card-footer">
      <span class="card-price">
        <span>$200</span>
        <del>$300</del>
      </span>
      <span class="optionContainer">

        <button class="card-wishlist-icons buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center primary-btn padding-normal">Add<i class="material-icons ">add_shopping_cart
          </i></button>

      </span>

    </span>

  </span>

  <span>

  </span>
  <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
</div>
<hr>

<!-------------------------Card Container end-------------------------->

<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

    <section class="cart-product flex-column-center">
      <section class="flex-row-start">
        <img class="imgcard" src="../images/pc-svg-1.svg" alt="">
        <button
          class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
            class="material-icons ">favorite </i>
        </button>
      </section>
  </div>
  </section>
  </section>
  <span class="card-text-container cart-brand-text">
    <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
    </span>

    <span class="card-container-price-icons card-footer">
      <span class="card-price">
        <span>$200</span>
        <del>$300</del>
      </span>
      <span class="optionContainer">

        <button class="card-wishlist-icons buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center primary-btn padding-normal">Add<i class="material-icons ">add_shopping_cart
          </i></button>

      </span>

    </span>

  </span>

  <span>

  </span>
  <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
</div>
<hr>

<!-------------------------Card Container end-------------------------->

<!-------------------------Card Container start-------------------------->
<div class="wishlist-card-container">
  <div class="card-container-horizontal flex-column-start">

    <section class="cart-product flex-column-center">
      <section class="flex-row-start">
        <img class="imgcard" src="../images/pc-svg-1.svg" alt="">
        <button
          class="material-icons-text card-wishlist-icons buttonHoverShadow AvatarImage AvatarIcons flex-row-center icon-wishlist"><i
            class="material-icons ">favorite </i>
        </button>
      </section>
  </div>
  </section>
  </section>
  <span class="card-text-container cart-brand-text">
    <span class="card-description">
      <h5>Product description One</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <span class="rating-container"></span>
      <h6>product type</h6>
    </span>

    <span class="card-container-price-icons card-footer">
      <span class="card-price">
        <span>$200</span>
        <del>$300</del>
      </span>
      <span class="optionContainer">

        <button class="card-wishlist-icons buttonHoverShadow icons-btn-hover
        AvatarImage flex-row-center primary-btn padding-normal">Add<i class="material-icons ">add_shopping_cart
          </i></button>

      </span>

    </span>

  </span>

  <span>

  </span>
  <button class="delete-icon 
    buttonHoverShadow card-wishlist-icons"><i class="material-icons cart-material-icons">delete </i></button>
</div>

<!-------------------------Card Container end-------------------------->

  

</main>
</div>
<!-------------------------Footer Section------------------------->

  <script src="../scripts/index.js"></script>
</body>
</html>